
html, body {
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	padding: 0;
}

body {
	background-color: #2b2b2b;
	font-family: "Montserrat", arial;
	background-image: linear-gradient(#2b2b2b,#2b2b2b,#3d2d33);
}


.navigation {
	background-color: #2b2b2b;
	color: white;
	height: 60px;

	animation-name: navegacao;
	animation-duration: 1s; 
}




.navigation a {
	color: white;
	text-decoration: none;
}

.navigation ul {
	list-style: none;
	padding-left: 0;
	text-align: right;
	margin-top: 0px;
	height: 60px;
}

.navigation li {
	display: inline-block;
	padding-left: 30px;
	padding-right: 30px;
	line-height: 60px;
	font-size: 18px;
	font-weight: 100;
}

.navigation a:hover {
	color: #e91d63;
}

.navigation li.threeline-icon {
	display: none;
}

.navigation li.threeline-icon:hover {
	color: #e91363;
	cursor: pointer;
}

.capa {
	color: white;
}

.capa span {
	color: #e91d63;
	display: block;
}

.capa div {
	display: inline-block; 
	height: 560px;
}

.profile-pic {
	width: 40%;
	text-align: center;

	animation-name: surgir;
	animation-duration: 2s;
}

.profile-pic img {
	width: 320px;
	border-radius: 320px;
	margin-top: 16%;
}


.profile-title {
	vertical-align: top;
	width: 59%;

	animation-name: surge-baixo;
	animation-duration: 1s;
}

.profile-title h1 {
	font-size: 58px;
	margin-top: 21%;	
	text-transform: uppercase;
	font-weight: 400;
	line-height: 54px;
	letter-spacing: 5px;
}

.profile-title h2 {
	font-size: 16px;
	font-weight: 100;
	margin-top: -25px;
	letter-spacing: 2px;
}

.curriculo {
	margin-bottom: -20px;
}

.cv-pic {
	float: right;
	width: 250px;
	margin-right: 0px;
	margin-bottom: 20px;
}

.icon-soft {
	width: 380px;
}

.icon-hard {
	width: 500px;
}

.main {
	padding: 60px 150px 60px 100px;

	animation-name: surge-esquerda;
	animation-duration: 1s;
}

.main h1 {
	color: white;
	font-weight: normal;
}

.main h2 {
	color: white;
	font-size: 16px;
	font-weight: normal;
	text-transform: uppercase;
	margin-top: 40px;
}

.main h3 {
	color: #e91d63;
	font-size: 13px;
	text-transform: uppercase;
} 

.main p {
	color: white;
	font-size: 16px;
	font-weight: 100;
	line-height: 28px;
	text-align: justify;
}

.main a {
	font-style: italic;
	color: #e91d63;
}


.caminho {
	list-style: none;
	padding-left: 0;
	color: gray;
}

.caminho a {
	color: gray;
}

.caminho li {
	display: inline-block;
}


.social-img {
	width: 50px;
	margin-bottom: 30px;
	margin-top: 10px;
	margin-right: 10px;
}


.miniatura {
	width: 320px;
	height: 320px;
	display: inline-block;
	margin-right: 15px;
	margin-bottom: 15px;
	background-size: contain;
	overflow: hidden;
}

.miniatura a {
	text-decoration: none;
}


.blackbox {
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0;
	padding-top: 125px;

	transition: 0.5s;
}

.blackbox:hover {
	opacity: 0.8;

	transition: 0.5s;
}


.blackbox-text {
	text-align: center;
}

.blackbox-text h1 {
	font-size: 18px;
	font-style: normal;
	font-weight: 600;
	color: #ff387d;
	text-transform: uppercase;
	margin-top: 0px;
}

.blackbox-text h2 {
	font-size: 16px;
	font-style: normal;
	font-weight: 100;
	text-transform: none;
	margin-top: 0;
}


.foto {
	width: 100%;
	margin-top: 10px;
}

.foto-logo {
	width: 30%;
	margin-top: -40px;
	margin-bottom: -20px;

}

.logo {
	text-align: center;
	width: 100%;
	height: 100%;
}


.carrossel {
	text-align: center;
	width: 100%;
	height: 100%;
	display: inline-block;
	margin-bottom: 10px;
	margin-top: 10px;
}

.carrossel img {
	width: 32%;
	height: 100%;
}


.back-link a {
	color: #ff5690;
}


#mail-1, #mail-2 {
	text-decoration: none;
	font-style: normal;
	color: rgb(253, 253, 253);
}



@keyframes surgir {
	0% {opacity: 0}
	100% {opacity: 1;}
}

@keyframes surge-baixo {
	0% {opacity: 0; transform: translate(0px,20px);}
	100% {opacity: 1; transform: translate(0px,0px);}
}

@keyframes surge-cima {
	0% {opacity: 0; transform: translate(0px,-20px);}
	100% {opacity: 1; transform: translate(0px,0px);}
}

@keyframes surge-esquerda {
	0% {opacity: 0; transform: translate(-20px,0px);}
	100% {opacity: 1; transform: translate(0px,0px);}
}

@keyframes navegacao {
	0% {opacity: 0;}
	50% {opacity: 0;}
	100% {opacity: 1;}
}




@media only screen and (min-resolution: 1.25dppx), only screen and (max-width: 950px) { 
 

.navigation li {
	display: none;
}

.navigation li.threeline-icon {
	display: inline-block;
	width: auto;
}


.capa div{
	display: block;
	height: auto;
}


.profile-pic {
	text-align: center;
	width: 100%;
}

.profile-pic img {
	margin-top: 20px;
	margin-left: 0;
	max-width: 90%;
}

.profile-title {
	width: 100%;
	text-align: center;
}

.profile-title h1 {
	font-size: 60px;
	line-height: 70px;
	margin: 30px 20px 60px 20px;
}

.profile-title h2 {
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 40px;
	font-size: 30px;
}


.main {
	padding: 20px 5% 40px 5%;
	width: auto;
}

.main a {
	overflow-wrap: break-word;
	word-wrap: break-word;
}

.main p {
	text-align: left;
	line-height: 30px;
}


.caminho li {
	font-size: 13px; 
}


.cv-pic {
	float: none;
	max-width: 100%;
	margin-right: 2%;
	margin-bottom: 2%;
	text-align: left;
}


.icon-hard, .icon-soft {
	max-width: 100%;
	height: auto;
}


.miniatura {
	max-width: 100%;
	background-size: auto 100%;
	display: block;
}


.blackbox {
	opacity: 0.8;
}


.menujs {
	height: auto;
}

.menujs ul {
	height: auto;
	text-align: center;
	padding-left: 20%;
	padding-right: 20%;
}

.menujs li {
	display: block;
	border-bottom: solid rgb(173, 156, 163) 1px;
	border-radius: 10%;
	width: auto;
}


}